.header__top {
    display: grid;
    grid-template-columns: 93px 1fr 193px;
    grid-column-gap: 40px;
    padding-top: 13px;
    align-items: center;
}

.header__description {
    width: 484px;
    height: 442px;
    padding-right: 116px;
}

.header__info {
    background-size: 700px 750px;
    padding: 160px 0 120px 0;
    background: url("../../img/girl-with-pad.png") no-repeat #fff;
    background-position: right 35px bottom;
}